<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="user" type="TelegramReader.UserSection, TelegramReader">
    </section>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="appId" value="487466" />
    <add key="appHash" value="017561d6ada79581c614052cd8551733" />
    <!--WARNING: polling should be at least 5 (min) 300000 (ms)-->
    <add key="timerDelay" value="30000" />
    <add key="alarm-track" value="Resources\main.mp3" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <user>
    <PhoneNumber>
      380934038342
    </PhoneNumber>
    <ChannelName>
      TelegramReader
    </ChannelName>
  </user>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>