<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <section name="user" type="TelegramReader.UserSection, TelegramReader"></section>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="appId" value="487466"/>
    <add key="appHash" value="017561d6ada79581c614052cd8551733"/>
    <add key="userNumber" value=""/>
  </appSettings>
  <user>
    <PhoneNumber>
      380934038342
    </PhoneNumber>
    <ChannelName></ChannelName>
  </user>
</configuration>